.input-box-event {
  margin: 0 !important;
  padding: 20px 10px 20px 10px !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  background-color: #1a5084 !important;
  h6 {
    font-weight: 700;
  }
  .date {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 5px;
  }
  .info-btn {
    color: #fff !important;
  }
  .service-wrap {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .add-btn {
    position: absolute;
    top: -45px;
    right: 70px;
  }
  .del-btn {
    position: absolute;
    top: -45px;
    right: 0px;
  }
  .update-btn {
    position: absolute;
    top: -45px;
    right: 35px;
  }
}
