.main-box-wrap {
  margin: 0px !important;
  padding: 20px 10px 20px 10px !important;
  .date {
    font-size: 12px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 5px;
  }
  .date-complete {
    padding-bottom: 4px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 5px;
  }
  .service-wrap {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .done-btn {
    position: absolute;
    top: -45px;
    right: 70px;
  }
  .add-btn {
    position: absolute;
    top: -45px;
    right: 0px;
  }
  .update-btn {
    position: absolute;
    top: -45px;
    right: 35px;
  }
  .timer {
    color: #000;
    font-size: 14px;
    position: absolute;
    bottom: -25px;
    right: 0;
    font-weight: 500;
    opacity: 0.6;
  }
  .alert {
    color: red;
    font-weight: 700;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-duration: 1s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-animation-duration: 1s;
  }
}
.info-btn {
  color: #fff !important;
}
.time-btn {
  color: #fff !important;
}
.done-btn {
}
.done {
  background-color: #115c1d;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}