.main-box-wrap {
  margin: 0px !important;
  padding: 20px 10px 20px 10px !important;
  .date {
    font-size: 12px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 5px;
  }
  .date-complete {
    padding-bottom: 4px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 5px;
  }
  .service-wrap {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .done-btn {
    position: absolute;
    top: -45px;
    right: 70px;
  }
  .add-btn {
    position: absolute;
    top: -45px;
    right: 0px;
  }
  .update-btn {
    position: absolute;
    top: -45px;
    right: 35px;
  }
}
.info-btn {
  color: #fff !important;
}
.done-btn {
}
.done {
  background-color: #115C1D;
}
