.event-chain {
  height: 100%;
}

.react-flow__node-mainEvent {
  padding: 0 !important;
  border-radius: 3px;
  width: 150px;
  font-size: 12px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.react-flow__node-event {
  padding: 0 !important;
  border-radius: 3px;
  width: 150px;
  font-size: 12px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.inputEvent {
  padding: 0 !important;
  cursor: default !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  background-color: #1a5084 !important;
}

.output-event {
  cursor: default !important;
  padding: 0 !important;
}
.simple-event {
  cursor: default !important;
}
.main-event {
  cursor: default !important;
}
// main event #53585F
// need to DO #EA5E5B
// success #115C1D
